{% extends "feeds/base.html" %}
{% block content %}
<article class="media content-section">
<div class="container">
    <div class="content">

      <h1 class="abtrlv-title">Why Resolve?</h1>
      <p class="abtrlv-para1">Resolve’s mission is to share the Problems and grow the world’s solutions. A vast amount of the solutions that would be valuable to many people is currently only available to a few — either locked in people’s heads, or only accessible to some groups. We want to connect the people who have solutions to the people who need it, to bring together people with different prospective's of solutions for different types of problems so they can understand each other better, and to empower everyone to share their problems for the benefit of the rest of the world.</p>
      <h2 class="abtrlv-title">Made with ❤️ while In home quarantine 🇮🇳 2020</h2>
      <img class="img-fluid rounded" src="/static/resolve.png" alt="abtrlv" width="700px;"><br><br>

      <h1 class="abtrlv-title">Gather Around a Problem</h1>
      <p class="abtrlv-para">The heart of Resolve is problems — problems that affect the world, problems that explain, problems that guide important life decisions, and problems that provide insights into why other people think differently for solutions. Resolve is a place where you can share problems you care about and get solutions that are amazing for current situations.</p>
      <p class="abtrlv-para">Resolve has only one version of each problem. It doesn’t have a left wing version, a right wing version, a western version, and an eastern version. Resolve brings people together from different places to give solutions for the problem, in the same place — and to learn from each other. We want Resolve to be the place to voice your opinion because Resolve is where the debate is happening. We want the Resolve solutions to be the definitive solutions for everybody forever in different prospective.</p>
      <h1 class="abtrlv-title">Understand The World and The People In It</h1>
      <p class="abtrlv-para">Resolve has content you will feel good to read. Resolve helps you understand why the world works the way it does, why people behave the way they do, and what we can all do to make the world better. Resolve provides a personalized feed of insightful solutions to problems you hadn’t realized you should think.</p>

    </div>
</div>
</article>

{% endblock content %}
