{% extends "feeds/base.html" %}
{% block content %}

<div>
    <h4><span class="heardertitle">Faq of Resolve</span></h4>
</div>

        <div class="container media content-section">
                        <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn collapsed faq1029" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to post my problem?</span>
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                       <p class="faqpara"> First, If you don't have an account yet on RESOLVE, Please sign up now by clicking this link. <strong><a
                              href="{% url 'register' %}">Sign Up</a></strong>. If you already have any account, <strong>
                              <a href="{% url 'login' %}">Login</a></strong>. After Login into you profile/account On Navigation Bar, You see <strong><a
                               href="#"><i class="fas fa-pen-nib"></i></span>Problem</a></strong> Click the link and it will navigate to write a problem page. There you can write the title of you problem (Upto 300 characters) and describe your probelm in content text field (Unlimited Characters). After finish writing, Click On <strong><button class="btn btn-success btn-sm btn1029">Post Problem</button></strong> And Boom its posted.</p>
                      </div>
                    </div>
                  </div>
                             <div class="card">
                    <div class="card-header" id="headingTwotwo">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwotwo" aria-expanded="false" aria-controls="collapseTwotwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to post a solution for any problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwotwo" class="collapse" aria-labelledby="headingTwotwo" data-parent="#accordion">
                      <div class="card-body">
                         <p class="faqpara"> When you see a problem on Home Page, Click on the Title of the problem. It will take you Problem detail page. Read whole problem, understand the problem and if you know the solution for that problem. Click on <strong><button class="btn btn-success btn-sm btn1029">Give Solution</button></strong>
                             <br> It will take you to Solution form page. write the solution in detail to solve the problem. </p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How do i get a solution for my problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                         <p class="faqpara">Once you posted your problem. People who visit the website, they see your problem. If they know the solution for you problem, They will write solution right below your problem. </p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> Who will give solution for my problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                          <p class="faqpara"> People. The people who visit the website Resolve.tips. The people who see your problem. The people who know solution for you problem.</p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Register/Sign Up into Resolve account?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                     <p class="faqpara"> If you are reading this answer for the above question. Then obviously you to the website. Now click here for
                         <strong><a href="{% url 'register' %}">Sign Up</a></strong>. Then it will navigate to Register/Sign Up page. There fill all the detail required. [Username, Email, Password and Confirmation Password] and Click the Button <strong><button class="btn btn-success btn-sm btn1029">Sign Up</button></strong></p></div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to login into my Resolve Account?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                        <p class="faqpara"> Once Signing Up to Resolve.tips. Your profile/account will be created. Then it will automatically navigate to Login Page. Fill you Username and Password. <strong><button class="btn btn-success btn-sm btn1029">Login</button></strong><br> For easy navigation. click the link here to follow
                            <strong><a href="{% url 'login' %}">Login</a></strong> Page</p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Edit a posted Problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                          <p class="faqpara">Well we all do mistakes. When you post a problem, it will redirect to problem detail page. While you reading your own problem. You may find mistake or mistakes. To edit the problem, click on dark Pencil icon on problem detail page. <a class="btn btn-dark btn-sm" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="25px" height="25px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></a></p>

                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Delete a posted Problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                      <div class="card-body">
                        <p class="faqpara"> When you post a problem. After sometime, you might think to delete the post. You might found the solution for your problem or your infinite reasons. To Delete the problem, click on Red Trash icon on problem detail page.  <a class="btn btn-danger btn-sm" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="25px" height="25px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg></a>&nbsp;<br> <strong>We suggest you not to delete the problem. Our mission is to build a platform of problems and solutions. Your family members or friends or other people you may not know might have same problem. So let them find the solution below your problem.</strong>
           </p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingEight">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Report a post/Content (Problem or Solution)?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                      <div class="card-body">
                          <p class="faqpara">  We are implementing this important feature soon. If you found any appropriate Post or content. You can able to report to the community. We will take care of it.</p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingNine">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to view others user profile?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                      <div class="card-body">
                          <p class="faqpara">  No. You can't view others user profile.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTen">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to view my own Profile?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                      <div class="card-body">
                       <p class="faqpara">   After you login into your profile. At the top Navigation bar, you see the <strong><a
                               href="{% url 'profile' %}"><span style="font-size: 23px;"><i class="fas fa-user-circle"></i></span> Profile</a></strong> link you can click on that link. Then it will navigate to your profile Page.</p>
                      </div>
                    </div>
                  </div>
                             <div class="card">
                    <div class="card-header" id="headingTenten">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTenten" aria-expanded="false" aria-controls="collapseTenten">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to view all my posted problems in one place/page?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTenten" class="collapse" aria-labelledby="headingTenten" data-parent="#accordion">
                      <div class="card-body">
                       <p class="faqpara">   After you login into your profile. At the top Navigation bar, you see the <strong><a
                               href="{% url 'profile' %}"><span style="font-size: 23px;"><i class="fas fa-user-circle"></i></span> Profile</a></strong> link page. you can click on that link. Then it will navigate to your profile Page. Just click on your UserName. It will take you to Problems detail page.
                           <strong><a href="#">@{{ user.username }}</a></strong></p>
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingThirteen">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> Why Resolve compared to other website?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                      <div class="card-body">
                          <p class="faqpara"> <strong>NO</strong> We don't have comparison to any other website or service on the internet. <strong>WE ARE UNIQUE! WE ARE DIFFERENT!</strong> We are not comparing with Quora & we are not comparing to any other platform. If you know any other service or platform like RESOLVE. Then it is good for you. Lets have second thought, You may think that, We are copying. Yes. Honestly, According to my research and up to my knowledge, I don't have any idea of a platform like Resolve is already existing on the internet. If you want to give a feedback. You can Email Us to
                              <a href="mailto:feedback@gotindia.org">feedback@gotindia.org</a> Thank You. Your feedback is much more important than anything. </p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>

{% endblock content %}

