{% extends "feeds/base.html" %}
{% block content %}

<div>
    <h4><span class="heardertitle">Faq of Resolve</span></h4>
</div>

        <div class="container media content-section">
                        <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn collapsed faq1029" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to post my problem?</span>
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How do i get a solution for my problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> Who will give solution for my problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Register into Resolve account?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                        Anim .
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to login into my Resolve Account?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Edit a posted Problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Delete a posted Problem?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingEight">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to Report a post/Content (Problem or Solution)?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingNine">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to view other user profile?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTen">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How to view my own Profile?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingEleven">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> How do we make money?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingTwelve">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> What are the New upcoming Features to the Resolve platform?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                            <div class="card">
                    <div class="card-header" id="headingThirteen">
                      <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                         <span class="text-collapse"> <i class="fas fa-plus-square"></i> Why Resolve compared to other website?</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                      <div class="card-body">
                        Anim
                      </div>
                    </div>
                  </div>
                </div>
        </div>

{% endblock content %}

