{% extends "feeds/base.html" %}
{% block content %}
    <h6 class="resolveh6">Give solutions</h6>
  {% for post in posts %}
      <article class="media content-section">
           <div class="media-body">
             <div class="article-metadata">
               <a class="mr-2 linktext" href="{% url 'user-posts' post.author.username %}">{{ post.author }}'s Problem</a>
               <small class="text-muted">{{ post.date_posted|date:"F d Y H:i" }}</small>
             </div>
             <h5 class="articlemargin"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
             <div>
               {% if user.is_authenticated %}
               <a class="btn btn-light rounded-pill btn-sm mt-1 mb-1 border border-success" href="{% url 'post-detail' post.id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#606060" width="24px" height="24px"><path d="M0 0h24v24H0zm15.35 6.41l-1.77-1.77c-.2-.2-.51-.2-.71 0L6 11.53V14h2.47l6.88-6.88c.2-.19.2-.51 0-.71z" fill="none"/><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 14v-2.47l6.88-6.88c.2-.2.51-.2.71 0l1.77 1.77c.2.2.2.51 0 .71L8.47 14H6zm12 0h-7.5l2-2H18v2z"/></svg> Give Solution</a>
             {% endif %}
             </div>
           </div>
      </article>
   {% endfor %}
{% endblock content %}
