{% extends "feeds/base.html" %}
{% block content %}
    <article>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Resolve is just a BABY!</strong> We are just started growing. Please Be Patience. Don't worry if you are not getting solutions.<strong> Please invite your friends & family to our Resolve family.</strong>
        </div>
    </article>
    {% for post in posts %}
    <article class="media content-section">
         <img class="rounded-circle border border-success article-img" src="{{ post.author.profile.image.url }}">
         <div class="media-body">
           <div class="article-metadata">
             <a class="mr-2 linktext" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
             <small class="text-muted">{{ post.date_posted|timesince }} ago</small>
           </div>
           <h5 class="articlemargin"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
           <p class="article-content">{{ post.content|safe }}</p>
         </div>
       </article>
      {% endfor %}
 {% endblock content %}
