{% extends "feeds/base.html" %}
{% block content %}
<div>
      <h5> Problem </h5>
</div>
<article class="media content-section">
    <img class="rounded-circle border border-success article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 linktext" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|timesince }} ago</small>
      </div>
      <h2 class="article-title articlemargin">{{ object.title }}</h2>
      <p class="article-content">{{ object.content|safe }}</p>
          <div class="resolvebtn">
            {% if user.is_authenticated %}
              <a class="btn btn-success btn-sm btn1029 mt-1 mb-1" href="{% url 'solution_form' object.id %}">Give Solution</a>&nbsp;
            {% if object.author == user %}
            <a class="btn btn-dark btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"              width="25px" height="25px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02                     0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"                width="25px" height="25px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1                              1H5v2h14V4z"/></svg></a>&nbsp;
            {% endif %}

          {% endif %}
          </div>
    </div>
  </article>
    <div class="article-metadata">
        <h5>{{ post.solutions.count }}{{ post.solutions|pluralize }} Solutions</h5>
    </div>
        {% for solution in post.solutions.all %}
          <article class="media content-section">
          <img class="rounded-circle border border-success article-img" src="{{ solution.author.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2 linktext" href="{% url 'user-posts' solution.author.username %}">{{ solution.author }}</a>
                <small class="text-muted">{{ solution.created_date|timesince }} ago</small>
              </div>
                <p class="article-content">{{ solution.solution|safe }}</p>

                <div class="resolvebtn">
                  {% if user.is_authenticated %}
                  &nbsp;
                  {% endif %}
                </div>
            </div>
          </article>
        {% empty %}
      <article class="media content-section">
            <h6 class="nosolutions">No Solutions here yet :(</h6>
      </article>
      {% endfor %}

{% endblock content %}
