{% extends "feeds/base.html" %}
{% block content %}
<div>
    <h4><span class="heardertitle">Resolve's Privacy Policy</span></h4>
</div>
  <article class="media content-section">
        <div class="media-body">
            <p class="termsresolve">This Privacy Policy applies to the Resolve.tips
                <p class="termsresolve">Resolve.tips recognises the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information we collect on http://www.resolve.tips and other offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy.<p/>

                <strong>Information we collect</strong>
                <p class="termsresolve">Contact information. We might collect your Realname or Fakename Username, Email, Real Photos or Fake Photos<p/>
                <p class="termsresolve">Payment and billing information. We dont collect your billing name, billing address and payment method. We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website. Credit card information will be obtained and processed by our online payment partner CC Avenue.
                <p class="termsresolve">Information you post. We collect information you post in a public space on our website or on a third-party social media site belonging to Resolve.tips<p/>
                <p class="termsresolve">Demographic information. We may collect demographic information about you, events you like, events you intend to participate in, tickets you buy, or any other information provided by your during the use of our website. We might collect this as a part of a survey also.<p/>
                <p class="termsresolve">Other information. If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.[just because of security purpose only. to keep your account safe from other bad people.]<p/>
                <p class="termsresolve">We collect information directly from you. We collect information directly from you when you register for an event. We also collect information if you post a comment on our websites or ask us a question through phone or email.<p/>
                <p class="termsresolve">We collect information from you passively. We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website.<p/>

                <strong>Use of your personal information</strong>
                <p class="termsresolve">We use information to contact you: We might use the information you provide to contact you for confirmation of promotional purposes.<p/>
                <p class="termsresolve">We use information to respond to your requests or questions. We might use your information to confirm your registration.<p/>
                <p class="termsresolve">We use information to improve our products and services. We might use your information to customize your experience with us. This could include displaying content based upon your preferences.<p/>
                <p class="termsresolve">We use information to look at site trends and customer interests. We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties.<p/>
                <p class="termsresolve">We use information for security purposes. We may use information to protect our company, our users/visitors, or our websites.<p/>
                <p class="termsresolve">We use information for marketing purposes. We might send you information about special promotions. We might also tell you about new features or products. These might be our own products, or third-party offers or products we think you might find interesting.<p/>
                <p class="termsresolve">We use information to send you transactional communications. We might send you emails or SMS about your account.<p/>
                <p class="termsresolve">We use information as otherwise permitted by law.<p/>

                <strong>Sharing of information with third-parties [Fuck sharing and selling of sensitive data]</strong>
                <p class="termsresolve">We (Resolve.tips and our company - Gotindia.net guaranteed) not to sell or share your sensitive information to any shitty companies or third-party apps or any other shit.<p/>
                <strong>Email Opt-Out</strong>
                <p class="termsresolve">You can opt out of receiving our marketing emails. To stop receiving our promotional emails, please email unsubscriber@resolve.tips. It may take about 1 days to process your request. OPT out means We shut our Mouth and Ass not to send anything to you. <p/>
                <strong>Third party sites</strong>
                <p class="termsresolve">If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.<p/>
                <strong>Grievance Officer</strong>
                <p class="termsresolve">In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:<p/>
                        <code>
                        Email: privacy@resolve.tips
                        If you have any questions about this Policy or other privacy concerns, you can also email us at privacy@resolve.tips</code><br><br>
                <strong>Updates to this policy</strong>
                <p class="termsresolve">This Privacy Policy was last updated on 30.7.2020. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our site periodically for updates.<p/>

                <strong>Jurisdiction</strong>
                <p class="termsresolve">If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.<p/>

        </div>
    </article>
{% endblock content %}