{% extends "feeds/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
 <div class="alert alert-info infoalert" role="alert">
        Give solutions or suggestions or advices or tips for the problem you just selected. Your friend is waiting for your solution.
 </div>
<div class="content-section">
    <form method="post">
        {% csrf_token %}
         <fieldset class="form-group">
             <legend class="border-bottom mb-4">Give Solution</legend>
             {{ form|crispy }}
         </fieldset>
        <button class="btn btn-success btn1029 postproblem" type="submit">Post Solution</button>
    </form><br><br>
</div>
{% endblock content %}
