{% extends "feeds/base.html" %}
{% block content %}
<h6 class="mb-3 resolveh6">Problems of <a class="profilelink" href="#">{{ view.kwargs.username }}</a> - [{{ page_obj.paginator.count }}]</h6>
  {% for post in posts %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2 linktext" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|timesince }} ago</small>
          </div>
          <h2 class="articlemargin"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content|safe }}</p>
        </div>
      </article>
      {% empty %}
        <article class="media content-section">
              <h6 class="nosolutions">No Problems yet :)</h6>
        </article>
  {% endfor %}
  {% endblock content %}
