{% extends "feeds/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="alert alert-primary" role="alert">
        Its your choice. You don't have to upload your Real Photo. <a href="{% url 'feeds-privacy' %}" class="alert-link">Read our Privacy Policy</a>
     </div>

<div class="content-section">
     <div class="resolveprofile">
        <div class="bgcoverpic">
            <div class="media">
              <img class="rounded-circle mx-auto d-block border border-success account-img" src="{{ user.profile.image.url }}">
            </div>
        </div>

        <div class="media-body userdetail">
            <h2 class="account-heading usernamerslv"><a class="usernamerslv" href="{% url 'user-posts' user.username %}">@{{ user.username }}</a></h2>

            <p class="text-secondary">{{ user.email }}</p>
        </div>
     </div>

  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Resolve Profile</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-success btn1029" type="submit" >Update</button>
      </div>
    </form>
</div>

{% endblock content %}
